body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

div {
    padding-top: 5%;
    margin-left: 25%;
    width: 50%;
}

img {
    border: 5px solid white;
}

#pic {
    width: 100%;
}